/* some default styles to make the view more native like */
blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
td,
textarea,
th,
ul,
pre{
  margin:0;
  padding:0;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

fieldset,
img{
  border:0;
}

li{
  list-style:none;
}

caption,
th{
  text-align:left;
}

q:after,
q:before{
  content:"";
}

input[type="password"]{
  ime-mode:disabled;
}

:focus{
  outline:0;
}

html, body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-size:16px;
  background:#1d1e1f;
  color:#ddd;
}

body,
button,
input,
select,
textarea,
pre{
  font-size:12px;
  line-height:1.5;
  font-family:-apple-system,
  BlinkMacSystemFont,
  "Helvetica Neue",
  "Arial",
  "PingFang SC",
  "Hiragino Sans GB",
  "STHeiti",
  "Microsoft YaHei",
  "Microsoft JhengHei",
  "Source Han Sans SC",
  "Noto Sans CJK SC",
  "Source Han Sans CN",
  "Noto Sans SC",
  "Source Han Sans TC",
  "Noto Sans CJK TC",
  "WenQuanYi Micro Hei",
  SimSun,
  sans-serif;
}

input, button{
  cursor:pointer;
  -webkit-appearance:none;
}

input{
  line-height:normal;
}

body.drag{
  cursor:wait;
}

#app{
  display:flex;
  width:100%;
  height:100%;
}

.tool{
  background:#4A4A4A;

  ul{
    margin:0 auto;
    padding:0 2px;
    width:24px;
    li{
      margin:2px 0;
      width:24px;
      height:24px;
      border-radius:2px;

      &:hover{
        background-color:rgba(0, 0, 0, 0.2) !important;
      }

      &.active{
        background-color:rgba(0, 0, 0, 0.5) !important;
      }

      &.select{
        background:url(img/select.png) no-repeat center;
        background-size:contain;
      }

      &.select2{
        background:url(img/select2.png) no-repeat center;
        background-size:contain;
      }

      &.hand{
        background:url(img/hand.png) no-repeat center;
        background-size:contain;
      }
    }
  }
}

.container{
  flex:1;
  display:flex;
  flex-direction:column;
  border-left:1px solid #000;
  border-right:1px solid #000;

  .preview{
    flex:1;
    position:relative;
    overflow:hidden;

    .stage{
      position:absolute;
      left:50%;
      top:50%;
      background:url(img/bg.png) repeat 0 0;
      background-size:16px 16px;
      transform:translate(-50%, -50%);

      .stage-item{
        position:absolute;
        left:0;
        top:0;
        width:100%;
        transform:tranlateZ(0);
      }
    }
  }

  .timeline{
    display:flex;
    height:200px;
    background:#2e2f30;
    border-top:1px solid #000;

    .data{
      display:flex;
      flex-direction:column;
      width:200px;
      background:#1d1e1f;

      .num{
        padding:0 5px;
        height:24px;
        line-height:24px;
        background:#2e2f30;
        color:#4A90E2;
        font-size:14px;
        font-weight:400;
      }

      .layer{
        flex:1;
        margin-top:16px;

        .layer-item{
          display:flex;
          align-items:center;
          height:20px;
          background:#2e2f30;
          border:1px solid #1d1e1f;

          &.active{
            background:#444;
          }

          .lock{
            width:18px;
            height:20px;
            background:url(img/unlock.png) no-repeat center;
            background-size:11px 13px;

            &.ing{
              background:url(img/lock.png) no-repeat center;
              background-size:11px 13px;
            }
          }

          .name{
            width:60px;
            font-size:10px;
            color:#A1A1A2;
            overflow:hidden;
            text-overflow:ellipsis;
          }

          .spread{
            width:18px;
            height:20px;
            background:url(img/spread.png) no-repeat center;
            background-size:8px 11px;
            transition:transform 0.2s;

            &.ing{
              transform:rotate(90deg);
            }
          }
        }
      }

      .fn{
        display:flex;
        align-items:center;
        height:18px;
        background:#2e2f30;

        .new{
          margin-left:5px;
          width:16px;
          height:16px;
          background:url(img/new.png) no-repeat center;
          background-size:11px 10px;
          &:hover{
            background-color:rgba(255, 255, 255, 0.2) !important;
          }
        }

        .del{
          margin-left:5px;
          width:16px;
          height:16px;
          background:url(img/recycle.png) no-repeat center;
          background-size:10px 10px;
          &:hover{
            background-color:rgba(255, 255, 255, 0.2) !important;
          }
        }
      }
    }

    .panel{
      flex:1;
      display:flex;
      flex-direction:column;
      position:relative;

      .btn{
        display:flex;
        height:24px;
        align-items:center;

        li{
          width:18px;
          height:18px;

          &:hover{
            background-color:rgba(255, 255, 255, 0.2) !important;
          }

          &.bezier{
            margin-left:5px;
            background:url(img/bezier.png) no-repeat center;
            background-size:15px 15px;
          }

          &.kf{
            margin-left:10px;
            background:url(img/kf.png) no-repeat center;
            background-size:18px 18px;
          }

          &.start{
            margin-left:50px;
            background:url(img/start.png) no-repeat center;
            background-size:9px 13px;
          }

          &.play{
            background:url(img/play.png) no-repeat center;
            background-size:14px 14px;
          }

          &.end{
            background:url(img/end.png) no-repeat center;
            background-size:9px 13px;
          }

          &.repeat{
            background:url(img/repeat.png) no-repeat center;
            background-size:14px 12px;
          }
        }
      }

      .frame-time{
        flex:1;
        position:relative;
        padding:0 1px;
        overflow:hidden;

        .frame-num{
          display:flex;
          flex-wrap:nowrap;
          position:absolute;
          left:1px;
          top:0;
          width:100%;
          height:17px;
          background:url(img/ruler.png) repeat-x 0 11px;
          background-size:50px 5px;
          transform:translateX(-0.5px);
          z-index:10;

          li{
            flex-shrink:0;
            position:relative;
            width:50px;
            flex-basis:50px;
            font-size:9px;
            line-height:12px;
            color:#595959;
          }
        }

        .layer{
          position:absolute;
          left:1px;
          top:17px;
          bottom:18px;
          width:100%;

          .timeline-item{
            position:relative;
            height:20px;
            background:url(img/fs.png) repeat-x 0 0;
            background-size:auto 20px;

            .frame{
              position:absolute;
              height:100%;
              background:#666;

              b{
                position:absolute;
                left:10px;
                top:50%;
                right:0;
                border-top:1px solid #0f0;
              }
            }

            .frame-last{
              position:absolute;
              box-sizing:border-box;
              width:10px;
              height:100%;
              background:#666;
              border:1px solid #444;

              &:before{
                position:absolute;
                left:50%;
                top:50%;
                width:5px;
                height:5px;
                background:#000;
                border-radius:100%;
                transform:translate(-50%, -50%);
                content:' ';
              }
            }

            .empty{
              position:absolute;
              box-sizing:border-box;
              width:10px;
              height:100%;
              background:#39f;
              border:1px solid #444;
            }
          }
        }

        .time-num{
          display:flex;
          flex-wrap:nowrap;
          position:absolute;
          left:1px;
          bottom:0;
          width:100%;
          height:18px;
          z-index:11;

          li{
            flex-shrink:0;
            position:relative;
            padding-top:6px;
            width:100px;
            flex-basis:100px;
            font-size:9px;
            line-height:12px;
            color:#595959;

            &:after{
              position:absolute;
              left:0;
              top:1px;
              width:0;
              height:5px;
              border-left:1px solid #595959;
              transform:translateX(-50%);
              content:' ';
            }
          }
        }

        .point{
          position:absolute;
          left:1px;
          top:17px;
          bottom:18px;
          box-sizing:border-box;
          width:10px;
          opacity:0.7;
          z-index:12;

          &:before{
            position:absolute;
            left:0;
            top:-7px;
            width:100%;
            height:7px;
            box-sizing:border-box;
            border:1px solid #D0021B;
            background:rgba(208, 0, 27, 0.3);
            content:' ';
          }

          b{
            position:absolute;
            left:50%;
            top:0;
            bottom:0;
            width:0;
            border-left:1px solid #D0021B;
            transform:translateX(-50%);
          }

          &:after{
            position:absolute;
            left:0;
            bottom:-7px;
            width:100%;
            height:7px;
            box-sizing:border-box;
            border:1px solid #D0021B;
            background:rgba(208, 0, 27, 0.3);
            content:' ';
          }
        }
      }
    }
  }
}

.side{
  width:250px;
  background:#2e2f30;

  .global{
    h3{
      padding:0 5px;
      background:#454647;
      border-top:1px solid #575759;
      border-bottom:1px solid #575759;
      color:#A1A1A2;
      font-size:14px;
      line-height:24px;
    }

    .list{
      display:flex;
      flex-wrap:wrap;
      padding:8px 0 0 10px;
      opacity:0.5;

      &.enable{
        opacity:1;
      }

      .item{
        position:relative;
        margin:0 10px 8px 0;

        input{
          padding:0 20px 0 5px;
          width:43px;
          height:18px;
          background:#444;
          border:1px solid #555;
          border-radius:4px;
          cursor:auto;
          font-size:10px;
          color:#FFF;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }

        span{
          position:absolute;
          right:5px;
          top:0;
          color:#9E9E9E;
          line-height:20px;
        }
      }
    }
  }

  .attr{
    h3{
      padding:0 5px;
      background:#454647;
      border-top:1px solid #575759;
      border-bottom:1px solid #575759;
      color:#A1A1A2;
      font-size:14px;
      line-height:24px;
    }

    .list{
      display:flex;
      flex-wrap:wrap;
      padding:8px 0 0 10px;
      opacity:0.5;

      &.enable{
        opacity:1;
      }

      .item{
        position:relative;
        margin:0 10px 8px 0;

        input{
          padding:0 20px 0 5px;
          width:43px;
          height:18px;
          background:#444;
          border:1px solid #555;
          border-radius:4px;
          cursor:auto;
          font-size:10px;
          color:#FFF;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }

        span{
          position:absolute;
          right:5px;
          top:0;
          color:#9E9E9E;
          line-height:20px;
        }
      }
    }
  }

  .library{
    h3{
      padding:0 5px;
      background:#454647;
      border-top:1px solid #575759;
      border-bottom:1px solid #575759;
      color:#A1A1A2;
      font-size:14px;
      line-height:24px;
    }

    .preview-l{
      margin:5px;
      height:100px;
      border:1px solid #000;
      background:url(img/bg2.png) repeat 0 0;
      background-size:8px 8px;
    }

    .library-item{
      display:flex;
      align-items:center;
      padding:0 5px;
      height:20px;

      &.current{
        background:#575759;
      }

      .icon{
        margin-right:5px;
        width:16px;
        height:16px;
        background:url(img/l-geom.png) no-repeat center;
        background-size:contain;
      }

      .name{
        flex:1;
        overflow:hidden;
        text-overflow:ellipsis;
      }

      .edit{
        width:16px;
        height:16px;
        background:url(img/edit.png) no-repeat center;
        background-size:16px 16px;

        &:hover{
          background-color:rgba(255, 255, 255, 0.2) !important;
        }
      }

      .del{
        margin-left:2px;
        width:16px;
        height:16px;
        background:url(img/recycle2.png) no-repeat center;
        background-size:10px 10px;

        &:hover{
          background-color:rgba(255, 255, 255, 0.2) !important;
        }
      }
    }
  }
}

.confirm{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;

  &:before{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    content:' ';
  }

  .c{
    position:fixed;
    left:50%;
    top:50%;
    width:100px;
    height:100px;
    transform:translate(-50%, -50%);
  }
}
