/* some default styles to make the view more native like */
blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
td,
textarea,
th,
ul,
pre{
  margin:0;
  padding:0;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

fieldset,
img{
  border:0;
}

li{
  list-style:none;
}

caption,
th{
  text-align:left;
}

q:after,
q:before{
  content:"";
}

input[type="password"]{
  ime-mode:disabled;
}

:focus{
  outline:0;
}

html, body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-size:16px;
  background:#1d1e1f;
  color:#fff;
}

body,
button,
input,
select,
textarea,
pre{
  font-size:12px;
  line-height:1.5;
  font-family:-apple-system,
  BlinkMacSystemFont,
  "Helvetica Neue",
  "Arial",
  "PingFang SC",
  "Hiragino Sans GB",
  "STHeiti",
  "Microsoft YaHei",
  "Microsoft JhengHei",
  "Source Han Sans SC",
  "Noto Sans CJK SC",
  "Source Han Sans CN",
  "Noto Sans SC",
  "Source Han Sans TC",
  "Noto Sans CJK TC",
  "WenQuanYi Micro Hei",
  SimSun,
  sans-serif;
}

input, button{
  cursor:pointer;
  -webkit-appearance:none;
}

input{
  line-height:normal;
}

#app{
  display:flex;
  width:100%;
  height:100%;
}

.tool{
  width:40px;
  background:#2e2f30;
}

.container{
  flex:1;
  display:flex;
  flex-direction:column;
  border-left:1px solid #000;
  border-right:1px solid #000;
}

.library{
  width:200px;
  background:#2e2f30;
}

.library-item{
  display:flex;
  align-items:center;
  padding:0 2px;
  height:20px;
  border-bottom:1px solid rgba(0, 0, 0, 0.2);
  color:#ddd;

  .icon{
    margin-right:5px;
    width:16px;
    height:16px;
  }

  .name{
    flex:1;
    overflow:hidden;
    text-overflow:ellipsis;
  }

  .edit{
    width:16px;
    height:16px;
    background:url(img/recycle.png) no-repeat center;
    background-size:10px 10px;
    cursor:pointer;
  }

  .del{
    width:16px;
    height:16px;
    background:url(img/recycle.png) no-repeat center;
    background-size:10px 10px;
    cursor:pointer;
  }
}

.preview{
  flex:1;
}

.timeline{
  display:flex;
  height:200px;
  background:#2e2f30;
}

.timeline-data{
  width:200px;
  background:#1d1e1f;

  .num{
    background:#2e2f30;
    color:#4A90E2;
    font-size:15px;
    font-weight:400;
  }
}

.timeline-panel{
  flex:1;
}

.confirm{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;

  &:before{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    content:' ';
  }

  .c{
    position:fixed;
    left:50%;
    top:50%;
    width:100px;
    height:100px;
    transform:translate(-50%, -50%);
  }
}
